.user {
    color: black;
}

.ranking {
  overflow-y: hidden;
  border-radius: 8px;
  background: var(--ion-color-light);
  padding: 10px;
}

.ranking-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--ion-color-primary);
  font-size: 1.5rem;
}

.cargar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}