<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-title>Bienvenido!</ion-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Formulario de Login con ingreso y verificacion de Nombre de usuario y Contrasena -->
      <form #loginForm="ngForm" (ngSubmit)="ingresar(loginForm)">
        
        <ion-item lines="full">
          <ion-label position="floating">Usuario (3-8 caracteres)</ion-label>
          <ion-input 
            type="text" 
            name="usuario"
            [(ngModel)]="userData.usuario"
            minlength="3"
            maxlength="8"
            pattern="[a-zA-Z0-9]+"
            required
            #usuarioInput="ngModel">
          </ion-input>
        </ion-item>

        <div *ngIf="usuarioInput.invalid && (usuarioInput.dirty || usuarioInput.touched)">
          <ion-note color="danger" *ngIf="usuarioInput.errors?.['required']">Campo obligatorio</ion-note>
          <ion-note color="danger" *ngIf="usuarioInput.errors?.['minlength']">Mínimo 3 caracteres</ion-note>
          <ion-note color="danger" *ngIf="usuarioInput.errors?.['maxlength']">Máximo 8 caracteres</ion-note>
          <ion-note color="danger" *ngIf="usuarioInput.errors?.['pattern']">Solo caracteres alfanuméricos</ion-note>
        </div>

        <ion-item lines="full">
          <ion-label position="floating">Contraseña (4 dígitos)</ion-label>
          <ion-input 
            type="password" 
            name="password"
            [(ngModel)]="userData.password"
            minlength="4"
            maxlength="4"
            pattern="[0-9]+"
            required
            #passwordInput="ngModel">
          </ion-input>
        </ion-item>

        <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
          <ion-note color="danger" *ngIf="passwordInput.errors?.['required']">Campo obligatorio</ion-note>
          <ion-note color="danger" *ngIf="passwordInput.errors?.['minlength'] || passwordInput.errors?.['maxlength']">
            Debe tener 4 dígitos
          </ion-note>
          <ion-note color="danger" *ngIf="passwordInput.errors?.['pattern']">Solo números permitidos</ion-note>
        </div>

        <ion-row>
          <ion-col>
            <ion-button 
              expand="full" 
              type="submit"
              [disabled]="!loginForm.valid">
              Ingresar
            </ion-button>
          </ion-col>
        </ion-row>
      </form>

      <ion-col>
        <ion-button expand="block" color="medium" (click)="registrar()">
          ¿No tienes una cuenta? Registrate aqui
        </ion-button>
      </ion-col>



    </ion-card-content>
  </ion-card>
</ion-content>
